body
{
  background-color: lightskyblue
}

h2
{
padding: 20px
}

.jumbotron
{
  background-image: url("http://mishakuzma.weebly.com/uploads/6/6/2/4/66248371/background-images/1834286649.jpg");
  background-size: cover;
}

.navbar
{
  background-color: CornflowerBlue
}

#about
{
  background-color: #3385ff;
}

#projects
{
  background-color: #39e600;
}

#mapping
{
  background-color: #ffa64d;

}

#contact
{
  background-color: #ff4d4d;
}

#bgAbout
{
  background-image: url("http://mishakuzma.weebly.com/uploads/6/6/2/4/66248371/background-images/1834286649.jpg");
  background-size: cover;
}
